################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/openapi-netcore/.vs
/openapi-netcore/bin/Debug
/openapi-netcore/obj
/test-console/bin/Debug/netcoreapp3.1
/test-console/obj
/H3Yun.OpenApi.Framework/obj/Debug
/H3Yun.OpenApi.Model/bin/Debug
/H3Yun.OpenApi.Model/obj
/H3Yun.OpenApi.NetCore/obj
/H3Yun.OpenApi.Framework/bin/Debug
/H3Yun.OpenApi.NetCore/bin/Debug/net6.0
/test-console-netcore/bin/Debug/net6.0
/test-console-netcore/obj
/H3Yun.OpenApi.NetCore/bin/Debug
/.vs
/packages
